.userDetails {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 0;
    height: 100%;
    border-left: 3px solid #ffff; /* Verde vibrante para separador */
    padding: 20px;
    background: #282844; /* Azul escuro principal */
    width: 350px;
    animation: fadeInRight 0.5s ease forwards;
}

.userDetails h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #FFC107; /* Amarelo vibrante para destaque */
}

.infoGroup {
    margin-bottom: 1rem;
}

.infoGroup p {
    font-size: 16px;
    color: #F5F5F5; /* Cinza claro para leitura confortável */
    text-align: center;
    margin-top: 8px;
}

.infoValue {
    font-size: 0.95rem;
    background-color: #25253F; /* Azul mais escuro para contraste */
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    color: #FFC107; /* Destaque nos valores */
    border: 1px solid #FFC107;
    text-align: center;
}

.userPhotoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.userPhoto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FFC107; /* Moldura amarela vibrante */
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
}

.userPhoto:hover {
    transform: scale(1.05);
    border-color: #FF5722; /* Laranja no hover */
}
