@font-face {
  font-family: 'kurale';
  src: url("./assets//fonts/Kurale-Regular.ttf") format("truetype");
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}