@font-face {
  font-family: 'kurale';
  src: url("./assets//fonts/Kurale-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'kurale', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}